<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WD Flashcards</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ccf032fdc2.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="">
        <h2 class="logo current-card"><a href="/" class="logo-btn">Web Dev Flashcards</a></h2>
    </nav>
    <div class="container">    

            <% for (let i = 0; i < 85; i++) { %>

                
            <div id="card-no-<%=i%>" class="card-front invisible">
                <div class="question-number">
                    <p>Question <%= i + 1 %> of <%= cards.length %> </p>
                </div>
                <div class="question">
                    <p><%= cards[i].front %></p>
                </div>
                <div id="answer-no-<%=i%>" class="answer invisible">
                    <p><%= cards[i].back %></p>
                </div> 
            </div>

            <% } %>
            
            <div class="start-button-container">
                <button id="start" class="btn-start">Start!</button>
            </div> 
            <div class="button-container invisible">
                <button id="showAnswer" class="btn-back">See the answer</button>
                <button id="nextCard" class="btn-go-on"> Easy, go on! </button>
            </div>
            <div class="end-button-container invisible">
                <form action="/flashcards">
                    <button class="btn-restart">Study again</button>
                </form>
            </div>        
            <footer class="">
                    <ul class="footer-links">
                        <li><a href="https://github.com/3ASYC0D3/flashcards"><i class="fab fa-github-square fa-2x"></i></a></li>
                        <li><a href="mailto: dariuszgulka@gmail.com"><i class="fas fa-envelope-square fa-2x"></i></a></li>
                    </ul>
            </footer>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>